# Environment variables
*.env

# Private keys
*.pem
private-key*

# Dependencies
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursorrules